body {
    font-family: "Patrick Hand", cursive;
    font-size: 1.5rem;
    letter-spacing: 3px;
    margin: 15px 35px 45px 35px;
    background-color: black;
    color: hotpink;
}
h1 {
    font-size: 1.5rem;
    text-align: center;
}
#img1, #img2, #img3, #img4, #img5 {
    width: 30%;
    height: auto;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 15px;
    border: 2px aqua solid;
}
/* Input button */
#slope, #slope2, #slope3 {
    width: 10%;
    height: 50px;
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 15px;
    border: 2px aqua solid;
    font-family: "Patrick Hand", cursive;
    font-size: 1.5rem;
    text-align: center;

}
#myBtn {
    width: 10%;
    height: 50px;
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 15px;
    border: 2px aqua solid;
    font-family: "Patrick Hand", cursive;
    font-size: 1.5rem;
    text-align: center;
}
#demo, #demo2, #demo3 {
    width: 10%;
    height: 50px;
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 15px;
    border: 2px aqua solid;
    color: aqua;
    text-align: center;
}
footer {
    text-align: center;
    font-size: 1rem;
}